form {
  width: 300px;
  margin: 0 auto;
  padding: 30px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}
/* button{
  margin-bottom: 5px;
  font-weight: bold;
  color: #003366; 

} */

.form-group {
  margin-bottom: 15px;
}

.heading1 {
  text-align: center;
  margin: auto;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #003366; /* Navy blue color for text */
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="checkbox"] {
  margin-right: 5px;
}

/* .email-input{
color: #ff003c;
} */
a {
  color: #ff003c; /* Bright orange for links */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Submit Button */
button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #003366; /* Navy blue background */
  color: #ffffff; /* White text */
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #002244; /* Darker navy on hover */
  color: #ffffff; /* White text */
}

/* button[type="submit"]:disabled {
  background-color: #cccccc; 
  cursor: not-allowed;
} */

/* Error Message Styling */
.error-message {
  color: #ff0033;
  font-size: 12px;
  margin-top: 5px;
}

/* Mobile responsiveness */
@media (max-width: 600px) {
  form {
    width: 100%;
    padding: 20px;
  }
}
 