<header>
  <nav class="navbar">
    <a class="logo" href="/">SportsMart</a>
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="/brand">Brand</a></li>
      <li><a href="/Categories">Categories</a></li>
      <li><a href="/products">Products</a></li>
      <li><a routerLink="/aboutus">About Us</a></li>
      <li><a routerLink="/contactus">Contact Us</a></li>
      <li class="dropdown">
        <a class="drop">Login</a>
        <div class="dropdown-content">
          <a routerLink="/admin-login">Admin Login</a>
          <a routerLink="/customer-login">Customer Login</a>
        </div>
      </li>
    </ul>
  </nav>
</header>
