<section class="hero">
    <div class="hero-content">
      <!-- <h1>Welcome to SportsMart</h1> -->
      <p>Get your Game with on with Our Quality Products</p>
      <!-- <div class="hero-buttons">
        <button class="buy-btn">Buy Equipment</button>
        <button class="sell-btn">Sell Equipment</button>
      </div> -->
    </div>
  </section>
  
  <!-- <section class="featured">
    <h2>Featured Equipment</h2>
    <p>Check out some of the top-selling sports equipment!</p>
    
  </section> -->